<a href="{{ fields.path.content|striptags }}" class="work-ext-link">
  <div class="work-img">
    {{ fields.field_images.content }}
  </div>
  <div class="work-intro">
    <h3 class="work-title">{{ fields.title.content }}</h3>
    <div class="work-descr">
      {{ 'View Project'|t }}
    </div>
  </div>
</a>