<section class="page-section fixed-height-small pt-0 pb-0 bg-dark-alfa-30" data-background="{{ file_url(fields.uri.content|striptags|trim) }}">
  <div class="js-height-parent container relative" style="height: 600px;">
    <div class="home-content">
      <div class="home-text">
        <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">{{ fields.title.content }}</h2>
        <div>
          <a href="{{ fields.path.content|striptags }}" class="btn btn-mod btn-border-w btn-medium btn-round">{{ 'View Project'|t }}</a>
        </div>
      </div>
    </div>      
  </div>
</section>